{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["babel"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/require-default-props": 0,
    "no-unused-vars": 0,
    "react/prop-types": 0,
    "prettier/prettier": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-indent": 0,
    "react/jsx-closing-tag-location": 0,
    "react/prefer-stateless-function": 0,
    "selector-combinator-space-before": 0,
    "selector-combinator-space-after": 0,
    "color-hex-case": 0,
    "block-closing-brace-empty-line-before": 0,
    "selector-list-comma-newline-after": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-props-no-multi-spaces": 0,
    "react/jsx-equals-spacing": 0,
    "prefer-template": 0,
    "react/no-unused-state": 0,
    "lines-between-class-members": 0,
    "react/self-closing-comp": 0,
    "prefer-const": 0,
    "class-methods-use-this": 0,
    "no-plusplus": 0,
  }
}
